.menuWrapper{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}
.logo{
    flex: 1;
}
.login{
    flex: 1;
    text-align: center;
}
.Nav {
    height: 40px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 0 rgba( 0, 0, 0, .2);
}
.Nav ul{
    display: flex;
    flex-direction: row;
}
.Nav ul li{
    flex: 1;
    text-align: center;
}
.Nav ul li a{
    height: 40px;
    line-height: 40px;
    padding: 0 22px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 33px;
    color: #333;
    font-weight: 700;
}
.Nav ul li a:hover{
    background: #f30213;
    overflow: visible;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.loginModel{
    display: flex;
    flex-direction: row;
}
.loginModel div{
    flex: 1;
}
.loginModel div input{
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0272f3;
    outline: none;
    margin-left:10px;
    font-size: 16px;
    color: #333;
}